header {
    text-align: right;
    color:white;
    background-color: black;

}
#schedule {
    border-bottom:3px solid #EEE;
    margin-bottom:1em;
}
#sessions {
    border-bottom:1px solid grey;
    padding-bottom:1em;
    margin-bottom:1em;
    position:relative;
}
.floater {
    position: absolute;
    top:0em;
    right:0em;
}
.session {
    margin-bottom: 1em;
}