header {
    text-align: right;
    color:white;
    background-color: black;

}
#schedule {
    border-bottom:3px solid #EEE;
    margin-bottom:1em;
}
#sessions {
   position:relative;
}
#sessions > h3 {
    margin-bottom: 27px;
}
.floater {
    position: absolute;
    top:0em;
    right:0em;
}
.session {
    margin-bottom: 1em;
}