<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Laboratoria Calendar Demo</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href="css/fullcalendar.min.css">
    <link rel='stylesheet' href="css/calendar.css">
</head>
<body>
    <header class="container-fluid">
        <h1>Calendar Scheduler <small style="font-size: 0.5em">by <strong>levhita</strong></small></h1>
    </header>
    
    <main class="container-fluid" id="app">
        <section class="row" id="schedule">
            <div class="col">
                <div style="float:right">
                    <button type="button" class="btn btn-light" data-toggle="modal" data-target="#editSettingsModal"><i class="fas fa-cog"></i></button>
                    <button class="btn btn-primary" v-on:click="refresh"><i class="far fa-calendar-alt"></i> Schedule</button> 
                </div>
                <h2>{{name}}</h2>
                <p>{{description}}</p>
            </div>        
        </section>
        <div class="row">
            <section class="col-md-4">
                
                <div id="sessions">
                    <h3>Sessions</h3>
                    <button class="btn btn-primary floater" v-on:click="openAddSession"><i class="fas fa-plus"></i> Add</button> 
                    
                    <div class="card session" v-for="session in orderedSessions">
                        <h5 class="card-header">{{session.name}} <small>({{session.duration}} mins)</small></h5>
                        <div class="card-body">
                            <dl>
                                <dt>Minimum Scheduling:</dt> <dd>{{session.minSchedule}} minutes</dd>
                                <dt>Priority:</dt> <dd>{{session.priority}}
                                    <div class="btn-group" role="group" aria-label="Order">
                                        <button class="btn btn-sm btn-light" href="#" v-on:click="changePriority(session.id,-1)"><i class="fas fa-chevron-down"></i></button>
                                        <button class="btn btn-sm btn-light" href="#" v-on:click="changePriority(session.id,1)"><i class="fas fa-chevron-up"></i></button>
                                    </div>
                                </dd>
                            </dl>                        
                        </div>
                        
                        <div class="card-footer">
                            <div class="text-right">
                                <button class="btn btn-light" style="float:left" href="#" v-on:click="deleteSession(session.id)"><i class="fas fa-trash"></i></button>
                                
                                
                                
                                <button class="btn btn-primary" href="#" v-on:click="editSession(session.id)"><i class="fas fa-pencil-alt"></i> Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            
            </section>
            
            <section id="calendar" class="col-md-8"></section>
        </div>
        
        <!--************************************** -->
        <!--Modals for editing Session and Setting -->
        <!--************************************** -->
        <div class="modal"  id="editSessionModal" tabindex="-1" role="dialog"><!-- Modal-->
            <div class="modal-dialog" role="document">
                <div v-if="selectedSession" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Session</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <div class="form-group">
                            <label for="nameInput">Name:</label>
                            <input id="nameInput" class="form-control" v-model="selectedSession.name"/>
                        </div>
                        <div class="form-group">
                            <label for="durationInput">Duration:</label>
                            <input id="durationInput" class="form-control" v-model="selectedSession.duration"/>
                        </div>
                        
                        <div class="form-group">
                            <label for="priorityInput">Priority:</label>
                            <input id="priorityInput" class="form-control" v-model="selectedSession.priority"/>
                        </div>
                        
                        <div class="form-group">
                            <label for="minScheduleInput">Minimum Scheduling:</label>
                            <input id="minScheduleInput" class="form-control" v-model="selectedSession.minSchedule"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="saveSession"><i class="fas fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div><!-- End Modal-->
        
        <div class="modal"  id="editSettingsModal" tabindex="-1" role="dialog"><!-- Modal-->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <div class="form"><!--General Settings-->
                            
                            <div class="form-group">
                                <label for="scheduleNameInput">Name:</label>
                                <input id="scheduleNameInput" class="form-control" v-model="name"/>
                            </div>
                            <div class="form-group">
                                <label for="descriptionTextarea">Description:</label>
                                <textarea  id="descriptionTextarea" placeholder="July 23 - July 30" class="form-control" rows="3" v-model="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="keyInput">API-Key:</label>
                                <input id="keyInput" class="form-control" v-model="googleCalendarApiKey"/>
                            </div>
                            <div class="form-group">
                                <label for="calendarInput">Calendar ID:</label>
                                <input id="calendarInput" class="form-control" v-model="eventsGoogleCalendar"/>
                            </div>
                            <div class="form-group">
                                <label for="startDateInput">Start Date:</label>
                                <input id="startDateInput" class="form-control" v-model="startDate"/>
                            </div>
                            
                            <button class="btn btn-primary" v-on:click="addRange">Add Range</button>
                            <div v-for="range in ranges" v-bind:key="range.id">
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" v-model="range.after"/>
                                    </div> — 
                                    <div class="col">
                                        <input class="form-control" v-model="range.before"/>
                                    </div>
                                    <button class="btn btn-primary" v-on:click="deleteRange(range.id)">-</button>
                                </div>
                            </div>   
                            
                        </div><!--End General Settings-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div><!-- End Modal-->
    </div>
</main>

<script src="js/vendor/jquery-3.3.1.min.js"></script>
<script src="js/vendor/bootstrap.min.js"></script>
<script src="js/vendor/vue.js"></script>
<script src="js/vendor/moment.min.js"></script>
<script src="js/vendor/fullcalendar.min.js"></script>
<script src="js/vendor/gcal.min.js"></script>
<script src="js/vendor/later.min.js"></script>
<script src="js/vendor/schedule.min.js"></script>
<script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>

<script src="js/firebase.js"></script>  
<script src="js/calendar.js"></script>

<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>

</body>
</html>