<!doctype html>
<html>
<head>
    <!-- Required meta tags -->
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Calendar Scheduler</title>
    
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel='stylesheet' href="css/fullcalendar.min.css">
    <link rel='stylesheet' href="css/calendar.css">
</head>
<body>
    
    <div id="app">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <a class="navbar-brand" href="index.html"><i class="fas fa-home"></i></a>
            <div>
                <button type="button" class="btn btn-primary" id="authorize-button" style="display: none;">Authorize</button>
                <button type="button" class="btn btn-primary" id="signout-button" style="display: none;">Sign Out</button>
                
            </div>
            
            <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
                <div class="navbar-nav mr-auto mt-2 mt-lg-0">
                    <h2 style="color:white">{{name}}</h2>
                </div>
                <ul class="navbar-nav my-2 my-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="#" id="authorize-button" style="display: none;">Authorize</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="modal" data-target="#editSettingsModal" href="#"><i class="fas fa-cog"></i></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-on:click="refresh"><i class="fas fa-sync-alt"></i> Refresh</a> 
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" v-on:click="exportCalendar"><i class="far fa-calendar-alt"></i> Export</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <main class="container-fluid">
            
            <section class="row" id="schedule">
                <div class="col">
                    <p>{{description}}</p>
                </div>        
            </section>
            <div class="row">
                <section class="col-md-6 col-lg-5 col-xl-4">
                    
                    <div id="sessions">
                        <h3>Sessions</h3>
                        <button class="btn btn-primary floater" v-on:click="openAddSession"><i class="fas fa-plus"></i> Add</button> 
                        
                        <table class="table-body-scroll table table-sm ">
                            <thead class="">
                                <tr>
                                    <th scope="col">Priority</th>
                                    <th scope="col">Name and Notes</th>
                                    <th style="text-align: right" scope="col">Mins</th>
                                    <th style="text-align: right" scope="col">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="session" v-for="session in orderedSessions">
                                    <td>{{session.priority}}<br/>
                                        <div class="btn-group" role="group" aria-label="Order">
                                            <button class="btn btn-sm btn-light" href="#" v-on:click="changePriority(session.id,-1)"><i class="fas fa-chevron-down"></i></button>
                                            <button class="btn btn-sm btn-light" href="#" v-on:click="changePriority(session.id,1)"><i class="fas fa-chevron-up"></i></button>
                                        </div>
                                    </td>
                                    <td>
                                        <strong>{{session.name}}</strong>
                                        <br/>
                                        {{session.notes}}
                                    </td>
                                    <td style="text-align: right">{{session.duration}}</td>
                                    <td style="text-align: right">
                                        <div class="btn-group" role="group" aria-label="Actions">
                                            <button class="btn btn-light btn-sm" href="#" v-on:click="deleteSession(session.id)"><i class="fas fa-trash"></i></button>
                                            <button class="btn btn-primary  btn-sm" href="#" v-on:click="editSession(session.id)"><i class="fas fa-pencil-alt"></i></button>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        
                    </div>
                    
                </section>
                
                <section id="calendar" class="col-md-6 col-lg-7 col-xl-8"></section>
                
            </div>
            
        </main>  
        
        <!--************************************** -->
        <!--Modals for editing Session and Setting -->
        <!--************************************** -->
        <div class="modal"  id="editSessionModal" tabindex="-1" role="dialog"><!-- Modal-->
            <div class="modal-dialog" role="document">
                <div v-if="selectedSession" class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Session</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <div class="form-group">
                            <label for="nameInput">Name:</label>
                            <input id="nameInput" class="form-control" v-model="selectedSession.name"/>
                        </div>
                        <div class="form-group">
                            <label for="notesTextArea">Notes:</label>
                            <textarea id="notesTextArea" class="form-control" v-model="selectedSession.notes"></textarea>
                        </div>
                        <div class="form-group">
                            <label for="durationInput">Duration:</label>
                            <input id="durationInput" class="form-control" v-model="selectedSession.duration"/>
                        </div>
                        
                        <div class="form-group">
                            <label for="priorityInput">Priority:</label>
                            <input id="priorityInput" class="form-control" v-model="selectedSession.priority"/>
                        </div>
                        
                        <div class="form-group">
                            <label for="minScheduleInput">Minimum Scheduling:</label>
                            <input id="minScheduleInput" class="form-control" v-model="selectedSession.minSchedule"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-light" data-dismiss="modal"><i class="fas fa-times"></i> Close</button>
                        <button type="button" class="btn btn-primary" v-on:click="saveSession"><i class="fas fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div><!-- End Modal-->
        
        <div class="modal"  id="editSettingsModal" tabindex="-1" role="dialog"><!-- Modal-->
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Settings</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" >
                        <div class="form"><!--General Settings-->
                            
                            <div class="form-group">
                                <label for="scheduleNameInput">Name:</label>
                                <input id="scheduleNameInput" class="form-control" v-model="name"/>
                            </div>
                            <div class="form-group">
                                <label for="descriptionTextarea">Description:</label>
                                <textarea  id="descriptionTextarea" placeholder="July 23 - July 30" class="form-control" rows="3" v-model="description"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="calendarSourceInput">Source CalendarID:</label>
                                <input id="calendarSourceInput" v-model="eventsSource" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="calendarTargetInput">Target Calendar ID:</label>
                                <input id="calendarTargetInput" v-model="eventsTarget" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label for="startDateInput">Start Date:</label>
                                <input id="startDateInput" class="form-control" v-model="startDate"/>
                            </div>
                            
                            <hr>
                            
                            <button class="btn btn-primary" v-on:click="addRange"><i class="fas fa-plus"></i> Add Range</button>
                            <div class="range" v-for="range in ranges" v-bind:key="range.id">
                                <div class="form-row">
                                    <div class="col">
                                        <input class="form-control" v-model="range.after"/>
                                    </div> - 
                                    <div class="col">
                                        <input class="form-control" v-model="range.before"/>
                                    </div>
                                    <button class="btn btn-primary" v-on:click="deleteRange(range.id)"><i class="fas fa-minus"></i></button>
                                </div>
                            </div>   
                            
                        </div><!--End General Settings-->
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="saveSettings"><i class="fas fa-save"></i> Save</button>
                    </div>
                </div>
            </div>
        </div><!-- End Modal-->
    </div>
    
    <script src="js/vendor/jquery-3.3.1.min.js"></script>
    <script src="js/vendor/bootstrap.min.js"></script>
    <script src="js/vendor/vue.js"></script>
    <script src="js/vendor/moment.min.js"></script>
    <script src="js/vendor/fullcalendar.min.js"></script>
    <script src="js/vendor/gcal.min.js"></script>
    <script src="js/vendor/later.min.js"></script>
    <script src="js/vendor/schedule.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
    
    <script src="js/settings.js"></script>  
    <script src="js/calendar.js"></script>
    
    <script src="https://apis.google.com/js/api.js"></script>
    <script src="js/authorize.js"></script> 
    
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/all.js" integrity="sha384-xymdQtn1n3lH2wcu0qhcdaOpQwyoarkgLVxC/wZ5q7h9gHtxICrpcaSUfygqZGOe" crossorigin="anonymous"></script>
    
</body>
</html>